/* GENERAL STYLING */
html {
  font-size: 125%;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  line-height:32px;
  overflow-x: hidden;
}

img{
	width: 100%;
}

fieldset {
  border: none;
}

.wrapperContainer {
  max-width: 1680px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  // border: 2px solid coral;
}

.innerWrapper {
   max-width: 1680px;
  margin: 0 auto;
  width: 85%;
  border: 2px solid coral;
}