//HEADER STYLES

header {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url('../images/headerBackground.png');
  background-repeat: no-repeat;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;

}

.headerBox {
  width: 700px;
  height: 600px;
  background: #fff;
  text-align: center; 
  color: #fff;
  border: 1px dotted #000;
    h1{
      padding: 10% 20% 10%;
      color: #000;
      font-family: 'Barrio', cursive;
      line-height: 1;
      font-size: 3.1rem;
    }
    p {
      color: #000;
    }
}


.headerSecondParagraph {
  padding: 5% 0;
  font-weight: 800;
}

.headerButtonContainer {
  display: flex;
  justify-content: center;
}

//SECTION ONE & TWO STYLES
.sectionOneContainer,
.sectionTwoContainer,
.sectionThreeContainer {
  width: 100%;
  height: 100vh;
  border: 1px dotted #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionOne,
.sectionTwo {
  border: 2px solid coral;
  h2 {
    // color: #fff;
    text-align: center;
  }
  p {
    color: #fff;
  }
}

.sectionOneHeader h2,
.sectionTwoHeader h2{
  color: #000;
}

.sectionOneInput,
.sectionTwoInput {
  display: flex;
}

.inputContainer {
    flex-direction: column;

}

.sectionThreeContainer h2{
  color: #000;
}
 input[type=radio] {
   opacity: 0;
 }

 .SectionOneHoverOne,
 .SectionOneHoverTwo,
 .SectionOneHoverThree {
   width: 250px;
   height: 350px;
   overflow: hidden;
 }

 .questionOneSilly img,
 .questionTwoAmbitious img,
 .questionThreeSerious img{
   transition: transform .3s ease;
 }


 .SectionOneHoverOne:hover img,
 .SectionOneHoverTwo:hover img,
 .SectionOneHoverThree:hover img {
   transform: scale(1.1); 
  }
  
  .questionOneSillyParagraph,
  .questionTwoAmbitiousParagraph,
  .questionThreeSeriousParagraph{
     text-align: center;
  }
