//HEADER STYLES

header {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url('../images/headerBackground.png');
  background-repeat: no-repeat;
  background-position: 100% 0px;
  background-size: cover;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;

}

.headerBox {
  width: 720px;
  height: 580px;
  background: #fff;
  text-align: center; 
  color: #fff;
  opacity: 0.8;
  border-radius: 100px;
    h1{
      padding: 7% 20% 10%;
      color: #000;
      font-family: 'Barrio', cursive;
      line-height: 1;
      font-size: 2.9rem;
    }
    p {
      color: #000;
      padding: 0 7%;
      padding-bottom: 7%;
    }
}


.headerSecondParagraph {
  padding: 5% 0;
  font-weight: 800;
}

.headerButtonContainer {
  display: flex;
  justify-content: center;
}

.headerButton{
   background: purple;
   border: 1px solid purple;
   text-transform: uppercase;
   width: 250px;
   height: 50px;
   color: #fff;
}