@media only screen and (max-width: 977px){
  .headerBox {
    width: 520px;
    // height: 180px;
  }

  .headerBox h1 {
    font-size: 2.5rem;
  }
  
  .fieldsetSectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .sectionOneContainer {
    height: 200vh;
  }
}