article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

body, h1, h2, h3, h4, button, p, li, ul, a, img, fieldset {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* GENERAL STYLING */
html {
  font-size: 125%;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 32px;
  overflow-x: hidden;
  background-image: url("../images/midnightCityBackground.jpg");
}

fieldset {
  border: none;
}

.wrapperContainer {
  max-width: 1680px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.innerWrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 85%;
  border: 2px solid coral;
}

:focus {
  -webkit-box-shadow: 0 0 0 0.5px #ffffff, 0 0 3px 5px #3a97f9;
          box-shadow: 0 0 0 0.5px #ffffff, 0 0 3px 5px #3a97f9;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/headerBackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerBox {
  width: 720px;
  height: 580px;
  background: #fff;
  text-align: center;
  color: #fff;
  opacity: 0.8;
  border-radius: 100px;
  margin-bottom: 10%;
  margin-top: 9%;
}

.headerBox h1 {
  padding: 7% 20% 10%;
  color: #000;
  font-family: 'Barrio', cursive;
  line-height: 1;
  font-size: 2.9rem;
}

.headerBox p {
  color: #000;
  padding: 0 7%;
  padding-bottom: 7%;
}

.headerSecondParagraph {
  padding: 5% 0;
  font-weight: 800;
}

.headerButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerButton {
  background: purple;
  border: 1px solid purple;
  text-transform: uppercase;
  width: 250px;
  height: 50px;
  color: #fff;
}

.sectionOneContainer,
.sectionTwoContainer {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionOne h2,
.sectionTwo h2 {
  text-align: center;
}

.sectionOne p,
.sectionTwo p {
  color: #fff;
}

.sectionOneHeader h2,
.sectionTwoHeader h2 {
  font-size: 2rem;
  color: #fff;
  padding-bottom: 15%;
}

.sectionOneContainerOne p,
.sectionOneContainerTwo p,
.sectionOneContainerThree p,
.sectionTwoContainerOne p,
.sectionTwoContainerTwo p,
.sectionTwoContainerThree p {
  color: #fff;
  font-size: 1.2rem;
  padding-top: 7%;
  padding-bottom: 50%;
}

.sectionOneInput,
.sectionTwoInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionOneContainerOne,
.sectionOneContainerTwo,
.sectionTwoContainerOne,
.sectionTwoContainerTwo {
  margin: 0 5%;
}

input[type=radio] {
  opacity: 0;
}

.sectionOneHoverOne,
.sectionOneHoverTwo,
.sectionOneHoverThree,
.sectionTwoHoverOne,
.sectionTwoHoverTwo,
.sectionTwoHoverThree {
  overflow: hidden;
}

.sectionOneHoverOne:focus {
  border: 2px solid blue;
}

.sectionOneHoverOne:active,
.sectionOneHoverTwo:active,
.sectionOneHoverThree:active,
.sectionTwoHoverOne:active,
.sectionTwoHoverTwo:active,
.sectionTwoHoverThree:active {
  -webkit-box-shadow: 0 0 0 0.5px #ffffff, 0 0 3px 5px #3a97f9;
          box-shadow: 0 0 0 0.5px #ffffff, 0 0 3px 5px #3a97f9;
  outline: 2px dotted transparent;
  outline-offset: 2px;
}

.sectionOneHoverOne:hover img,
.sectionOneHoverTwo:hover img,
.sectionOneHoverThree:hover img,
.sectionTwoHoverOne:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.questionOneSillyParagraph,
.questionTwoAmbitiousParagraph,
.questionThreeReservedParagraph,
.questionTwoBlueParagraph,
.questionTwoPurpleParagraph,
.questionTwoRedParagraph {
  text-align: center;
  text-transform: capitalize;
}

.mainHeaderButton {
  background: purple;
  border: 1px solid purple;
  text-transform: uppercase;
  width: 250px;
  height: 50px;
  color: #fff;
}

.sectionOneButton {
  background: purple;
  border: 1px solid purple;
  text-transform: uppercase;
  width: 250px;
  height: 50px;
}

.sectionOneButton p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  padding: 1% 10%;
  font-size: 1.2rem;
}

.headerButton:hover,
.sectionOneButton:hover,
.submitContainer input:hover,
.mainHeaderButton:hover {
  background: coral;
  border: 1px solid coral;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.submitContainer input {
  background: purple;
  border: 1px solid purple;
  text-transform: uppercase;
  color: #fff;
  width: 200px;
  height: 50px;
  font-size: 1.2rem;
}

.fieldsetSectionOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sectionThreeContainer {
  border: 1px dotted #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionThreeContainer h2 {
  color: #fff;
  padding-bottom: 5%;
  text-align: center;
  margin-top: -5%;
  font-size: 2.8rem;
  margin-top: 7%;
}

.sectionThreeContainer p {
  padding: 0% 25%;
  padding-bottom: 10%;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

@media only screen and (max-width: 977px) {
  .headerContainer {
    background-position: 50%;
  }
  .headerBox {
    width: 520px;
  }
  .headerBox h1 {
    font-size: 2.5rem;
  }
  .fieldsetSectionOne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sectionOneContainer {
    height: 200vh;
  }
  .sectionOneContainerOne p,
  .sectionOneContainerTwo p,
  .sectionOneContainerThree p,
  .sectionTwoContainerOne p,
  .sectionTwoContainerTwo p,
  .sectionTwoContainerThree p {
    color: #fff;
    font-size: 1.2rem;
    padding-top: 7%;
    padding-bottom: 15%;
  }
}
